{% extends "base.twig" %}

{% block title %}Profile{% endblock %}

{% block content %}
  <h1>{{username}}'s Profile</h1>
  <form action="{{ formAction }}" method="POST" enctype="multipart/form-data">
    <label>
      Username:
      <input type="text" name="username" placeholder="{{ username }}">
    </label>
    {% if formMessage['username'] %}
      <p class="error">{{ formMessage['username'] }}</p>
    {% endif %}
    <label>
      Email:
      <input type="text" name="email" placeholder="{{ email }}" readonly>
    </label>
    <label>
      Phone Number:
      <input type="text" name="phone" placeholder="{{ phone }}">
    </label>
    {% if formMessage['phone'] %}
      <p class="error">{{ formMessage['phone'] }}</p>
    {% endif %}
    <label>
      Profile Picture:
      <input type="file" name="file" placeholder="{{ picture }}" multiple>
    </label>
    {% if formMessage['picture'] %}
      <p class="error">{{ formMessage['picture'] }}</p>
    {% endif %}
    <input type="submit" class="submit" value="Update info">
    <span class="redirect"><a href="{{ url_for('password') }}">Change Password</a></span>
    {% if formMessage['success'] %}
      <p class="success">{{ formMessage['success'] }}</p>
    {% endif %}
  </form>
  {% if picture != "" %}
  <img class="profilePicture" alt="profile_picture" src="/uploads/{{ picture }}">
  {% endif %}
{% endblock %}